%h3 Employee detail
%p= "Name: #{@employee.name}"
%p= "Email: #{@employee.email}"
%p= "Phone: #{@employee.phone}"
%p= "Address: #{@employee.address}"
%p= "Salary: #{@employee.salary}"
%p= "Performance: #{@employee.performance}"
%p= link_to 'Back to list', users_path
